<!DOCTYPE html>
<html>
  <head>
    <title>PermafirmApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= controller.controller_name %>
<%= is_admin_layout %>
  <body class="<%= class_name %>">
   <%= render 'shared/notifications'%>
   <% if is_admin_layout %>
    <%= yield %>
   <% else %>
    <div class="container body">
      <div class="main_container">
        <%= render 'shared/header'%>
        <%= yield %>
        <%= render 'shared/footer'%>
      </div>
    </div>
   <% end %>
  </body>
</html>
